html,
body {
    overflow-x: hidden;
}


/* HOME PAGE GALLERY STARTS */

.qualities h2 {
    font-weight: 800;
    font-size: 18px;
    color: #1d1f21;
    line-height: 22px;
}

.qualities h3 {
    font-weight: 800;
    /* font-size: 18px; */
    color: #1d1f21;
    line-height: 40px;
}

.qualities p {
    font-weight: 400;
    font-size: 15px;
    color: #1d1f21;
    line-height: 22px;
    text-align: justify;
}

.quality-img {
    width: 400px;
}

.scroll-for-more {
    color: #1d1f21;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.promotion h2 {
    color: #1d1f21 !important;
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
}

.promotion h4 {
    color: #1d1f21 !important;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.headers {
    font-weight: 800;
    font-size: 30px;
    line-height: 32px;
    color: #1d1f21 !important;
}

.critical101desc p {
    font-weight: 500;
    font-size: 18px;
    color: #1d1f21;
}

.critical101-img {
    width: 350px;
    border-radius: 5%;
}

.home-gif {
    filter: drop-shadow(0 0 0.75rem #1d1f21);
    width: 300px;
}

.critical101-btn {
    background-color: #09f;
    color: #fff !important;
    font-size: 17px;
    width: 170px;
    border-radius: 8px;
    border: none;
    line-height: 35px;
    font-weight: 500;
}

/*------------------------------------------------------------------
    Contact info
-------------------------------------------------------------------*/

.contact-imfo-box {
    background-color: #fefefe;
    padding: 30px 0;
}

.overflow-hidden {
    overflow: hidden;
}

.contact-imfo-box i {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #1d1919;
    color: #09f;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px;
}

.contact-imfo-box h4 {
    margin: 5px 0px 0px;
    color: #ffffff;
    font-size: 20px;
    padding: 0px;
    font-weight: 500;
    line-height: 24px;
}

.contact-imfo-box p {
    margin: 0px;
    color: #ffffff;
    font-weight: 300;
}

/* SIGNUP PAGE STARTS */

.form-signin {
    width: 100%;
    max-width: 550px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signup-header-img {
    width: 75px;
}

.btn-signup-email {
    background-color: #09f;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 10px auto;
    border: none;
}

.btn-signup-email:hover {
    background-color: #0084FF;
    color: #FFF;
}

.btn-signup-email:focus {
    background-color: #0084FF;
    color: #FFF;
}

.btn-signup {
    background-color: #09f;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    margin: 10px auto;
    border: none;
    outline: none;
}

.btn-signup:hover {
    background-color: #0084FF;
    color: #FFF;
}

.btn-signup:focus {
    background-color: #0084FF;
    color: #FFF;
}

.btn-signup img {
    width: 20px;
}

.form-section {
    font-family: "Montserrat", sans-serif;
}

.form-signin {
    position: relative;
    bottom: 50px;
}

.form-signin h3 {
    font-weight: 600;
    line-height: 41px;
    font-size: 33px;
    color: #4f565a;
}

.form-signin span {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #6c6d71;
}

.input-label {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #6c6d71;
}

.password-check {
    font-weight: 400;
    line-height: 21px;
    font-size: 16px;
    color: #828387;
}

.privacy-policy {
    font-weight: 400;
    line-height: 21px;
    font-size: 16px;
    color: #828387;
}

.top-link {
    color: #09f;
}

.top-link:hover {
    color: #0084FF;
}

/* SIGNUP PAGE ENDS */

/* SIGNIN PAGE STARTS */

.btn-signin {
    background-color: #09f;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
}

.btn-signin:hover {
    background-color: #0084FF;
    color: #FFF;
    outline: none;
    border: none;
}

.btn-signin:focus {
    background-color: #0084FF;
    color: #FFF;
    outline: none;
    border: none;
}

.btn-signin img {
    width: 10px;
}

.third-party {
    position: relative;
    right: 36px;
    bottom: 30px;
    width: 120%;
}

.signup {
    color: #09F;
    text-decoration: none;
}

.signup:hover {
    color: #0084FF;
}

/* SIGNIN PAGE ENDS */

/* REGISTRATION FORM STARTS */

.register {
    background: -webkit-linear-gradient(left, #f8913e, #ffc77e);
    margin-top: 3%;
    padding: 3%;
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #09f;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.btnRegister:hover {
    background: #0084FF;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}

.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: -webkit-linear-gradient(
            left,
            #f4524d 0%,
            #5543ca 100%
    ) !important;
    background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #a72879, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

.mdl-textfield:not(.is-dirty) input::-webkit-datetime-edit {
    color: transparent;
}

input:focus::-webkit-datetime-edit {
    color: rgba(255, 255, 255, 0.46) !important;
}

/*DRAG AND DROP INPUT*/

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
    transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
    padding: 80px 0px 105px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
    transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative;
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.file-upload-box {
    position: relative;
    bottom: 70px;
}

/*DRAG AND DROP INPUT*/

.login {
    color: #09f;
    text-decoration: none;
}

.login:hover {
    color: #0084FF;
}

.user-dropdown {
    color: #09f;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
}

.user-dropdown:hover {
    color: #0084FF;
    background-color: #fff;
}


/* REGISTER-CONTEST PAGE */

/*------------------------------------------------------------------
    Contests
-------------------------------------------------------------------*/

.menu-btn:focus {
    outline: none;
}

.heading-title {
    margin-bottom: 50px;
}

.heading-title h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    line-height: 38px;
}

.heading-title p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 22px;
}

.filter-button-group {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin: 10px 15px;
    display: inline-block;
}

.filter-button-group button {
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
}

.filter-button-group button.active {
    background: #0084ff;
    color: #fff;
    box-shadow: 2px 20px 45px 5px rgba(0, 0, 0, 0.2);
}

.menu-item {
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.418));
}

.order-btn {
    background-color: #09f;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    width: 150px;
}

.order-btn:hover {
    background-color: #3a668d;
    color: #fff;
}

.order-btn:focus {
    background-color: #3a668d;
    color: #fff;
}


/*************************************
******** CONTEST DETAILS FORM ********
*************************************/

.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}

.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: -webkit-linear-gradient(
            left,
            #f4524d 0%,
            #5543ca 100%
    ) !important;
    background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #a72879, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

input[type=datetime-local]:required:invalid::-webkit-datetime-edit {
    color: transparent !important;
}


input[type=datetime-local]:focus::-webkit-datetime-edit {
    color: black !important;
}


/* CONTACT US PAGE STARTS */

.contact-us-form {
    background: #fff;
    margin-top: 7%;
    margin-bottom: 5%;
    width: 70%;
}

@media (max-width: 992px) {
    .contact-us-form {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 90%;
    }
}

.contact-us-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    width: 120px;
    margin-top: -3%;
}

.contact-us-form form {
    padding: 11%;
}

.contact-us-form form .row {
    margin-bottom: -7%;
}

.contact-us-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #252628;
}

.contact-us-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #09f;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContact:hover {
    background: #0084FF;
}

@media (max-width: 992px) {
    .btnContact {
        width: 100% !important;
    }
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* CONTACT US PAGE ENDS */