{% extends "base.html" %}

{% block content %}

<div style="background-color: #eeeeee" class="pt-2">
    <div class="align-items-center">
        <div class="container text-center py-4">
            <h3 style="font-weight: 600; font-size: 30px">
                About Critical Section
            </h3>
        </div>
    </div>
</div>

<!-- Main Navigation -->

<!-- Main layout -->
<main
    style="
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        color: #fff;
    "
>
    <div class="container mt-0 pb-5">
        <h3 class="text-center py-3 mb-3">
            All the contests at one place.
        </h3>

        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-5">
                <img
                    class="img-fluid rounded z-depth-2"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/new/img(21).jpg"
                    alt="sample"
                />
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-7 pt-lg-3">
                <p
                    style="font-weight: 500; font-size: 18px"
                    class="mt-4 mt-lg-0"
                >
                    As with any growing startup, there is no restriction to the work that you should be doing at
                    Critical-Section. You will have verticals that you will completely own, but that shouldn’t
                    restrict you. Developers teaching marketers programming and sales people providing design
                    inputs is a common sight at Critical-Section. Everyone here is an owner of the company and we are
                    always open to hearing people who can help us become better. You will not be assigned tasks, you
                    will be entrusted with them. How every team member performs, is directly consequential to the
                    company’s growth, and you will be expected to do your work as if you were the founder of the
                    company. There will be very little supervision, but you will be held accountable for the work
                    that is entrusted on you.
                </p>
                <p style="font-weight: 500; font-size: 18px">
                    There are no steadfast rules - we don’t care about what you wear (as long as you’re clothed), 
                    how you work, or if you swear a lot (you’ll have company). We respect hard workers, quick learners, 
                    passionate people, perfectionists and intrinsically curious people. You will see shades of these 
                    characteristics in everyone who works at Critical-Section. We also urge our employees to be physically fit.
                    And we have loads of fun. We believe that all work and no play makes jack a dull boy. Team outings, 
                    movie nights with the founders, impromptu guitar and singing during office hours, hours of loud music, 
                    to team gaming face offs (AOE, counter strike, need for speed and the works!). If you’re a foodie, 
                    consider Critical-Section heaven. Not only will you spoilt with an unlimited (these limits are often tested) 
                    supply food, you will also be surrounded by people who know and love food. There are strong opinions about 
                    just about everything here and there are often fights about it. But at the end of the day, you will make 
                    friends for life here.
                </p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</main>
<!-- Main layout -->

<!-- Start Contact info -->
<section>
    <div class="contact-imfo-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4 py-2 py-lg-0">
                    <i class="fa fa-volume-control-phone"></i>
                    <div class="overflow-hidden">
                        <h4 style="color: #1d1f21; font-weight: 700">Phone</h4>
                        <p
                            style="color: #1d1f21; font-weight: 500"
                            class="lead"
                        >
                            +91 123-456-4590
                        </p>
                    </div>
                </div>
                <div class="col-md-4 py-4 py-lg-0">
                    <i class="fa fa-envelope"></i>
                    <div class="overflow-hidden">
                        <h4 style="color: #1d1f21; font-weight: 700">Email</h4>
                        <p
                            style="color: #1d1f21; font-weight: 500"
                            class="lead"
                        >
                            critical.section42@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4 py-2 py-lg-0">
                    <i class="fa fa-map-marker"></i>
                    <div class="overflow-hidden">
                        <h4 style="color: #1d1f21; font-weight: 700">
                            Location
                        </h4>
                        <p
                            style="color: #1d1f21; font-weight: 500"
                            class="lead"
                        >
                            xyz, XYZ, India
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact info -->

{% endblock %}